<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/liyupi">程序员小新</a> -->
<!--  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinoj.mapper.QuestionCommentMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinoj.model.entity.QuestionComment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="questionId" column="questionId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="userName" column="userName" jdbcType="VARBINARY"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARBINARY"/>
        <result property="content" column="content" jdbcType="VARBINARY"/>
        <result property="parentId" column="parentId" jdbcType="BIGINT"/>
        <result property="commentNum" column="commentNum" jdbcType="INTEGER"/>
        <result property="likeCount" column="likeCount" jdbcType="INTEGER"/>
        <result property="isLike" column="isLike" jdbcType="TINYINT"/>
        <result property="likeListId" column="likeListId" jdbcType="VARBINARY"/>
        <result property="inputShow" column="inputShow" jdbcType="TINYINT"/>
        <result property="fromId" column="fromId" jdbcType="BIGINT"/>
        <result property="fromName" column="fromName" jdbcType="VARBINARY"/>
        <result property="gmtModified" column="gmtModified" jdbcType="TIMESTAMP"/>
        <result property="gmtCreate" column="gmtCreate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,questionId,userId,
        userName,userAvatar,content,parentId,
        commentNum,likeCount,isLike,likeListId,
        inputShow,creatTime,fromId,fromName,
        gmtModified,gmtCreate,isDeleted
    </sql>


</mapper>
